*{
    margin: 0;
    padding: 0;
}

.content{
    display: flex;
}
.text-content {
    margin-top: 42px;
    margin-left: 120px;
    width: 1200px;
    height: 34px;
}
.text-content p{
    margin-top: 15px;
}
.symbols{
    margin-top: 42px;
    height: 30px;
    display: flex;
    gap: 4rem;
    margin-right: 70px;
    margin-top: 80px;
}

.pic{
    margin-top: 500px;
    margin-left: 20px;
}

.pic-1 h1{
    position: absolute;
    top: 520px;
    left: 68px;
    font-size: 45px;
}
.pic-1 p{
    position: absolute;
    left: 60px;
}

.notes {
    margin-left: 100px;
    display: flex;

}

.img{
    margin-top:300px;
   width:920px; 
}

.pic-1{
    white-space: nowrap;
    margin-top:350px;
}

.pic-11{
    margin-left: 100px;
}
.pic-1 h1{
    margin-left: 80px;
}
.pic-1 p{
    display: flex;
    margin-left: 80px;
}
.paragraph{
    display: flex;
}
.large-rec{
    margin-top: 150px;
    width: 950px;
    margin-left: 120px;
}

.box-1{
   position: absolute;
   left: 500px;
   margin-top: 50px;
}

.image-2{
    position: absolute;
    left: 900px;
    bottom: 20px;
}
.image-3{
    position: absolute;
    left: 500px;
    top: 560px;
}

.image-4{
    position: absolute;
    left: 900px;
    top: 500px;
}
.image-5{
    margin-left: 900px;
    margin-bottom: 100px;
}
.image-6{
    position: relative;
    margin-left: -150px;
    bottom:300px;
}